.timer-container
{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    gap: 150px;
    .sales
    {
        font-size: 40px;
    }
    .items{ 
        display: flex;
        gap: 20px;
    .timer-item
    {
        display: flex;
        flex-direction: column;
        .time {
            display: flex;
            gap: 20px;
            span {
                color: #E07575;
            }
        }
    }
  }
}