.header
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 10px;
    margin-left: 100px;
    margin-top: 50px;
    h1{
        color:red;
    }
    p {
        padding: 20px 10px;
        border-radius: 7px;
        background-color: red;
    }
}